.productsPage, .basketPage, .marginPage{
  max-width: 1300px;
  margin-left:auto;
  margin-right: auto;
}

/* .homeHeader{
  background-image:url("./static/head.jpg"), 
} */

.priceAndAdd{
  display : flex;
  justify-content: space-around;
}

.productCards{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.addButton:hover{
  cursor:pointer;
}

@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
.LoadingSpinner {
  font-size: large;
  display:flex;
  justify-content: center;
  height : 35px;
}

.LoadingSpinner svg{
  animation: spinner-spin infinite 1s linear;
}

.basketTable{
  table-layout: auto;
  width: 100%;
}


.loginForm>div, .loginForm>button, .addProdForm>div, .addProdForm>button{
  /*margin-top:30px;*/
  margin-bottom:30px;
}

