
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@500&display=swap');

h1, h2, h3{
  font-family: Grandstander;
}

.productsPage, .basketPage, .marginPage{
  max-width: 1300px;
  margin-left:auto;
  margin-right: auto;
}

/* .homeHeader{
  background-image:url("./static/head.jpg"), 
} */
.categoryCartouche{
  display:flex;
  list-style:none;
  width:300px;
  border-radius:5px;
  margin:3px;
  justify-content:space-around;
  height:61px;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  cursor:pointer;
  transition: transform 90ms;
}
.categoryCartouche:hover{
  transform:scale(104%);
  transition: transform 90ms;
}
.categoryCartouche:active{
  transform:scale(104%);
  box-shadow: inset 0px 2px 4px -1px rgba(0,0,0,0.2), inset 0px 4px 5px 0px rgba(0,0,0,0.14), inset 0px 1px 10px 0px rgba(0,0,0,0.12);
  transition: transform 90ms, box-shadow 90ms;
}

.priceAndAdd{
  display : flex;
  justify-content: space-around;
}

.productCards{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.productCard{ 
  width: 359px;
  margin: 3px; 
}

.addButton:hover{
  cursor:pointer;
  /* transform:scale(114%) */
  color:rgb(52, 99, 68);
}

.addButton .MuiTooltip-tooltip{
  background-color:#1976d2;
}


@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
.LoadingSpinner {
  font-size: large;
  display:flex;
  justify-content: center;
  height : 35px;
}

.LoadingSpinner svg{
  animation: spinner-spin infinite 1s linear;
}

.basketTable{
  table-layout: auto;
  width: 100%;
}


.loginForm>div, .loginForm>button, .addProdForm>div, .addProdForm>button{
  /*margin-top:30px;*/
  margin-bottom:30px;
}

